%html
  %head
    %title Axlsx Exploring
    = stylesheet_link_tag    "application", "bootstrap.min", "bootstrap-responsive.min", "jquery.dataTables_themeroller", "bootstrap", "bootstrap-responsive", "jquery.dataTables", params[:controller]
    = stylesheet_link_tag "impress" if params[:action] == "presentation"
    = javascript_include_tag "impress" if params[:action] == "presentation"
    = csrf_meta_tags
  %body
    = yield
    = javascript_include_tag params[:controller]
